.container{
    position: relative;
    width: 100%;
}

.main{
    position: relative;
    top: 15px;
    left: 2%;;
    width: 96%;
    height: 60px;
    background-color: gray;
    z-index: 0;
}

.lineBox{
    position: absolute;
    top: 0;
    width: 15px;
    height: 100%;
    z-index: 1;
    opacity: 1;
    cursor: move;
}